# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Migrations (optional rule)
# If you want clean repos per dev workflow:
# */migrations/__pycache__/
# */migrations/*.pyc